os2cx.pro.user*
*.scad.os2cx

*.o
AppDir
*.AppImage
Makefile

core/Makefile
core/os2cx

gui/Makefile
gui/OpenSCAD2CalculiX
gui/moc_*
gui/qmake_resources.qrc
gui/qrc_qmake_resources.cpp

test/Makefile
test/test
